# Lab | Pandas Deep-Dive

### 1. Import Pandas package under the alias pd and Numpy under the alias np

In [1]:
import pandas as pd
import numpy as np

### 2. Define a variable called `path` that contains the path to the csv file you downloaded.

In [11]:
path = "/Data/apple_store.csv"

### 3. Using the Pandas `read_csv()` method, import the csv file at the path above. 

Assign the returned value to a variable called `data`.

Note: you can omit the `sep` parameter for `read_csv()` because the csv file uses the default separator of ",".

In [14]:
data = pd.read_csv('./Data/apple_store.csv')

### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [15]:
data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

### 5. Print the summary (info) of the data.

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7197 non-null   int64
 1   track_name        7197 non-null   object
 2   size_bytes        7197 non-null   int64
 3   price             7197 non-null   float64
 4   rating_count_tot  7197 non-null   int64
 5   rating_count_ver  7197 non-null   int64
 6   user_rating       7197 non-null   float64
 7   user_rating_ver   7197 non-null   float64
 8   prime_genre       7197 non-null   object
dtypes: float64(3), int64(4), object(2)
memory usage: 506.2+ KB

### 6. Print the number of columns in the data.

In [19]:
data.shape    #imprime el número de filas y de columnas

(7197, 9)

In [20]:
data.shape[1]  #imprime el número de columnas

9

### 7. Print all column names.

In [23]:
data.columns

print(data.columns)

Index(['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot',
       'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre'],
      dtype='object')

## Now that we have a general understanding of the data, we'll start working on the challenge questions.

### 8. How many apps are there in the data source? 

Print the # of observations of the data.

*Hint: Your code should return the number 7197.*

In [59]:
data.shape[0]   #  número de filas , pero no hemos mirado si hay repetidas

7197

### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [60]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,7197.0,8.631310e+08,2.712368e+08,281656475.0,600093661.0,978148241.0,1.082310e+09,1.188376e+09
size_bytes,7197.0,1.991345e+08,3.592069e+08,589824.0,46922752.0,97153024.0,1.819249e+08,4.025970e+09
price,7197.0,1.726218e+00,5.833006e+00,0.0,0.0,0.0,1.990000e+00,2.999900e+02
rating_count_tot,7197.0,1.289291e+04,7.573941e+04,0.0,28.0,300.0,2.793000e+03,2.974676e+06
rating_count_ver,7197.0,4.603739e+02,3.920455e+03,0.0,1.0,23.0,1.400000e+02,1.770500e+05
user_rating,7197.0,3.526956e+00,1.517948e+00,0.0,3.5,4.0,4.500000e+00,5.000000e+00
user_rating_ver,7197.0,3.253578e+00,1.809363e+00,0.0,2.5,4.0,4.500000e+00,5.000000e+00

In [61]:
data.user_rating.mean()

3.526955675976101

### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [73]:
# filtrar ...

user_rating_high = data[data['user_rating']>=4]

user_rating_high

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games

In [74]:
len(user_rating_high)

4781

In [76]:
user_rating_high = data.query("user_rating >= 4")
user_rating_high

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games

Now obtain the length of `user_rating_high` which should return 4781.

In [77]:
len(user_rating_high)

4781

### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [84]:
genres = data.prime_genre.unique() 
genres

array(['Games', 'Productivity', 'Weather', 'Shopping', 'Reference',
       'Finance', 'Music', 'Utilities', 'Travel', 'Social Networking',
       'Sports', 'Business', 'Health & Fitness', 'Entertainment',
       'Photo & Video', 'Navigation', 'Education', 'Lifestyle',
       'Food & Drink', 'News', 'Book', 'Medical', 'Catalogs'],
      dtype=object)

Print the length of the unique values of `genres`. Your code should return 23.

In [85]:
print(len(genres))

23

### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [88]:
# agrupar y contar

count_genres = data.prime_genre.value_counts()

top_3_generos = count_genres.head(3)

top_3_generos

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [143]:
free_apps = data[data['price']==0]

most_likely = free_apps.groupby('prime_genre').size()

most_likely = most_likely.sort_values(ascending = False)

most_likely

prime_genre
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
dtype: int64

### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [159]:
free_apps

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
1,281796108,Evernote - stay organized,158578688,0.0,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.0,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.0,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.0,985920,5320,4.5,5.0,Reference
6,283646709,PayPal - Send and request money safely,227795968,0.0,119487,879,4.0,4.5,Finance
...,...,...,...,...,...,...,...,...,...
7188,1186384912,Demolition Derby Virtual Reality (VR) Racing,168774656,0.0,18,18,4.0,4.0,Games
7192,1187617475,Kubik,126644224,0.0,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.0,30,30,4.5,4.5,Games
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.0,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.0,3,3,5.0,5.0,Games

In [158]:
count_genres = data.prime_genre.value_counts()
free_apps = data[data['price']==0]

proportion = free_apps() / count_genres()

proportion = proportion.sort_values(ascending = False)

proportion

TypeError: 'Series' object is not callable

In [ ]:
proportion = data.most_likely.value_counts() 

proportion = proportion.sort_values(ascending = False)

proportion

### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [ ]:
# media de precio de las apps segun el género

free_apps = data[data['price']==0]

most_likely = free_apps.groupby('prime_genre').size()

most_likely = most_likely.sort_values(ascending = False)

most_likely

In [156]:
not_free = data[data['price']!= 0]

count_genres = not_free.groupby(

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games
8,284666222,PCalc - The Best Calculator,49250304,9.99,1117,4,4.5,5.0,Utilities
9,284736660,Ms. PAC-MAN,70023168,3.99,7885,40,4.0,4.0,Games
10,284791396,Solitaire by MobilityWare,49618944,4.99,76720,4017,4.5,4.5,Games
...,...,...,...,...,...,...,...,...,...
7185,1185777521,问仙奇遇-新玩法新套装嗨到爆,208026624,0.99,0,0,0.0,0.0,Games
7189,1187128255,飞刀传奇-动作武侠热血江湖即时PK传奇（登录爆金装）,537462784,0.99,0,0,0.0,0.0,Games
7190,1187279979,Add-Ons Studio for Minecraft,22999040,2.99,97,97,3.0,3.0,Games
7191,1187282363,Plead the Fifth - The Game,27853824,2.99,11,0,4.0,0.0,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities

In [ ]:
mean